<% provide(:title, "Home") %>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "LOCONAV", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown abc" >
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Services<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "abc", '#' %></li>
            <li><%= link_to "def", '#' %></li>
            <li><%= link_to "ghi", '#' %></li>
          </ul>
        </li>
        <li class="abc" ><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
  </div>
</header>
<p class="heading">Welcome to the Employee login Portal</p>
<%= link_to 'Lets Go', new_employee_session_path, :class=> "btn btn-info" %>
